<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="<%= titlePrefix %> Config Creator">
    <meta property="og:description" content="The config creator page for Dapper Image Host, a privacy-respecting, configurable image host with many domains.">

    <meta name="description" content="The config creator page for Dapper Image Host, a privacy-respecting, configurable image host with many domains.">

    <title><%= titlePrefix %> Config Creator</title>
</head>
<body>
<main>
    <div id="vue-root"></div>
</main>
</body>
</html>