<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="<%= titlePrefix %> Domains">
    <meta property="og:description" content="The domain list for Dapper Image Host, a privacy-respecting, configurable image host with many domains. Sign up now by contacting dapper#0666 on Discord.">

    <meta name="description" content="The domain list for Dapper Image Host, a privacy-respecting, configurable image host with many domains. Sign up now by contacting dapper#0666 on Discord.">

    <title><%= titlePrefix %> Domains</title>
</head>
<body>
<main>
    <div class="flex justify-center items-center my-6">
        <div id="domain-container" class="w-3/4">
            <p class="text-xl">Go back to <a href="/" class="link" title="Go back home">the home page</a>.</p>
        </div>
    </div>
</main>
</body>
</html>